//global variables

//Desc color variables

$pastelBlue: #B9C0DA;
$spanishGrey: #998DA0;
$greenblue:#C4E7D4;

//functional color variables

$navbar-background : $spanishGrey;
$nav-text: $pastelBlue;
$hover-color: $greenblue;